[phases.setup]
nixPkgs = ["python311", "nodejs-18_x", "npm-9_x"]

[phases.install]
cmds = [
  "pip install -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "uvicorn api.main:app --host 0.0.0.0 --port ${PORT:-8000}"
